.comment {
  /* font-size: small; */
  /* border-left-style: groove; */
  /* border-left-width: 3px; */
  /* border-left-color: red; */
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.counter-label {
  text-shadow: none;
  color: @theme_selected_fg_color;
  background-color: mix(@theme_selected_bg_color, @theme_selected_fg_color, 0.3);
  font-size: smaller;
  border-radius: 4px;
  padding: 0px 4px;
}

.comment-count {
  font-size: smaller;
  text-decoration-line: underline;
}

.itemtext {
	font-weight: bold;
	background-color: #f6f6ef;
	padding: 7px;
	border-bottom: 1px solid;
}
